@using Foundry.Domain;
<div id="dvtracking" class="tab-pane fade active show" aria-expanded="false">
    <div class="detail-information prog-list pb20">
       

        <article class="content-wrapper">
            <!-- Tab panes -->
            <div class="white-box">
                <div class="table-wrapper">
                    <table id="tblLoyaltyTrackingTransactions1" width="100%" class="table table_left_td">
                        <thead>
                            <tr>

                                <th width="20%">Date/Time</th>
                                <th class="text-center">TranlogID</th>
                                @*<th class="text-center" width="20%">Amount</th>
                                <th class="text-center">Points Earned</th>
                                <th class="text-center">Total Points</th>
                                <th class="text-center" width="20%">Reward Amount Issued</th>
                                <th class="text-center">Points Debited</th>
                                <th class="text-center">Remaining Points</th>*@

                            </tr>
                        </thead>

                    </table>
                </div>
            </div>

        </article>
    </div>
</div>
<script type="text/javascript" charset="utf8" src="~/js/Datatables/JS/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="~/js/Datatables/JS/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8" src="~/js/Datatables/JS/vfs_fonts.js"></script>
<script type="text/javascript" charset="utf8" src="~/js/Datatables/JS/buttons.html5.min.js"></script>
