<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="FoundryDb"
     providerName="System.Data.SqlClient"
     connectionString="Server=3.18.196.226;Database=FoundryStaging;User Id=FoundryStage1;password=123abc@#;Trusted_Connection=True;MultipleActiveResultSets=True;Integrated Security=false;Max Pool Size=5000;" />
    <!--connectionString="Server=112.196.113.170,8804;Database=FoundryStaging;User Id=sa;password=123abc@#;Trusted_Connection=True;MultipleActiveResultSets=True;Integrated Security=false;" />-->
  </connectionStrings>
</configuration>