@model Foundry.Domain.Dto.OrgnisationWithProgramTypeDto;
<div id="menu1" class=" tab-pane fade">

    <div class="detail-information prog-list">
        <div class="title-section">
            <div class="row">
                <div class="col-sm-6 ">
                    <h2><label id="lblOrgName"></label></h2>
                     
                </div>
                <div class="col-sm-6 col-6">
                    <div class="list-info list-info-admin">
                        <ul>

                            <li>
                                <a href="" class="btn btn-small"><img src="~/images/icon-plus-lg.png"></a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>

        </div>

        <div class="choose-program">
            <h2>Choose a program(s):</h2>

            <div class="select-programs">
                <div class="row">
                    <div class="col-sm-4">
                        <ul>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Bakersfield
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Fresno
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Fullerton
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>East Bay
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Chico
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Bakersfield
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Fresno
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Fullerton
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>East Bay
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Chico
                                </label>
                            </li>
                        </ul>
                    </div>
                    <!--3-->
                    <div class="col-sm-4">
                        <ul>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Bakersfield
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Fresno
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Fullerton
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>East Bay
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Chico
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Bakersfield
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Fresno
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Fullerton
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>East Bay
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Chico
                                </label>
                            </li>
                        </ul>
                    </div>
                    <!--3-->
                    <div class="col-sm-4">
                        <ul>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Bakersfield
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Fresno
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Fullerton
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>East Bay
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Chico
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Bakersfield
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Fresno
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Fullerton
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>East Bay
                                </label>
                            </li>
                            <li>
                                <label class="custom_check_box mt-3">
                                    <input type="checkbox" name="">
                                    <span></span>Chico
                                </label>
                            </li>
                        </ul>
                    </div>
                    <!--3-->
                </div>
                <!--row-->

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="custom-right">
                        <button type="submit" class="btn btn-primary btn-login mt-3" onclick="window.location.href='dashboard.html'">ADD</button>

                    </div>

                </div>
                <!--row-->
            </div>
        </div>
    </div>
    <!--prog-list-->
</div>