<table class="table" id="tblOrgnisationProgram"  width="100%">
    <thead>
        <tr>
            <th>ID</th>
            <th width="30%">PROGRAM NAME</th>
            <th width="20%">PROGRAM ID</th>
            <th width="20%">ACCOUNT HOLDERS</th>
            <th width="30%">DATE ADDED</th>
            <th width="20%">PROGRAM TYPES</th>
            <th width="20%"> </th>
        </tr>
    </thead>
   
</table>
